{
    "sourceType": "script",
    "minified": true,
    "sourceMaps": "inline",
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "> 1%"
                    ]
                }
            }
        ]
    ]
}
